body {
	height: 100vh;
	width: 100vw;
	display: flex;
}
div {
	height: 100vh;
	width: calc(100vw/3);
	display: block;
}

.sky {
	height: calc(100vh/4);
	width: calc(100vw/3);
	background-image: url("image/sky.png");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	background-position: center;
}

.water {
	height: calc(100vh/(4/3));
	width: calc(100vw/3);
	background-image: url("image/ocean.png");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	background-position: center;
}

.sky1 {
	height: calc(100vh/4);
	width: calc(100vw/3);
	background-image: url("image/sky1.png");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	background-position: center;
	align-items: center;
	justify-content: center;
}

.acorn {
	height: ;
	width: ;
}

.puzzle {
	height: calc((100vh/6)*3);
	width: calc(100vw/3);
}

.ice {
	height: calc(100vh/6);
	width: calc(100vw/3);
	cursor: pointer;
	background-image: url("image/ice.png");
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	background-position: center;
}

.home {
	height: calc(100vh/4);
	width: calc(100vw/3);
	background-image: url("image/home.png");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	background-position: center;
}

.sky2 {
	height: calc(100vh/4);
	width: calc(100vw/3);
	background-image: url("image/sky2.png");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	background-position: center;
}
