body {
	height: 100vh;
	width: 100vw;
	display: flex;
}
div {
	height: 100vh;
	width: calc(100vw/3);
	display: block;
}

.water {
	height: calc(100vh/(4/3));
	width: calc(100vw/3);
}

.ice {
	height: calc(100vh/6);
	width: calc(100vw/3);
	
}

.center {
	height: calc(100vh/4);
	width: calc(100vw/3);
	background-image: url("image/sky2.png");
	max-height: 100%;
	max-width: 100%;
}

.alignment {
	align-items: center;
	jusitfy-content: center;
	max-height: 100%;
	max-width: 100%;
}
