body {
	height: 100vh;
	width: 100vw;
	display: flex;
}
div {
	height: 100vh;
	width: calc(100vw/3);
	display: block;
}

.sky {
	height: calc(100vh/4);
	width: calc(100vw/3);
}

.water {
	height: calc(100vh/(4/3));
	width: calc(100vw/3);
}

.ice {
	height: calc(100vh/6);
	width: calc(100vw/3);
	
}

.home{
	height: calc(100vh/4);
	width: calc(100vw/3);
}
